```
# Compiled and build artifacts
*.o
*.obj
*.bin
*.hex
*.vcd
*.fst
*.vpd
*.shm/

# Dependencies
*.lib/
*.so/
*.a/

# Logs and temp files
*.log
*.tmp
*.swp

# Simulation and synthesis tools
*.pb
*.dmp
*.trn
*.wlf
*.dsn
*.log
*.mdat
*.msim
*.qdf
*.qpf
*.qsf
*.sdo
*.sdf
*.spe
*.spo
*.spt
*.srf
*.srr
*.ssm
*.sts
*.svf
*.tcl
*.tfe
*.tfm
*.tfr
*.tfs
*.tfx
*.tme
*.tmf
*.tmw
*.tpf
*.tpr
*.tps
*.tpx
*.tra
*.trb
*.trc
*.trd
*.tre
*.trf
*.trg
*.trh
*.tri
*.trj
*.trl
*.trm
*.trn
*.tro
*.trp
*.trq
*.trr
*.trs
*.trt
*.tru
*.trv
*.trw
*.trx
*.try
*.trz
```